* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #e5e5e5;
}

body {
    background-color: #565656;
}

h1 {
    text-align: center;
    margin: 1em;
    font-size: 52px;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 9em;
    
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

button {
    color: black;
    height: 30px;
}

.grid-container {
    display: grid;
    width: 700px;
    height: 700px;
    margin-bottom: 2em;
}

.grid-div {
    border: 1px solid black;
    background-color: white;
}
